img {
    height: 200px;
    background-color: #000000;
}

#warning {
    margin-top: 50px;
}

#warning .material-icons {
    color: #ff0000;
    font-size: 150px;
}

#warning .btn-large {
    width: 200px;
}